.formTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.flexWrapper {
    display: flex;
    margin-top: 10px;
    gap: 16px;
    flex-wrap: nowrap;
    max-width: 481px;;
}

@media(max-width: 768px) {
    .flexWrapper {
        flex-wrap: wrap;
        max-width: 100%;
    }
    .flexWrapper input{
        max-width: 100%;
    }
}

